@mixin search-box {
  form {
    position: relative;
    input[type=text] {
      &:focus {
        outline: 3px $brand-primary solid;
        color: $gray-darker;
        background: white;
        + button .search {
          color: $brand-primary;
        }
      }
      border: none;
      padding: 10px;
      min-width: 255px;
      background: $gray-light; 
      color: $gray;
      @include placeholder {
        color: rgba($gray, 0.5);
        text-indent: rem(10px);
      }
    }
    button[type=submit] {
      position: absolute;
      background: none;
      border: none;
      bottom: rem(5px);
      right: rem(2px);
      color: $gray-dark;
      .search:hover {
        color: $brand-primary;
      }
    }
  }
}

@mixin box-shadow {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

//border radius
@mixin border-radius($radius){
 -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius; 
          border-radius: $radius;
}

//transitions
@mixin transition($seconds){
	-webkit-transition:$seconds ease-out;
	-moz-transition:$seconds ease-out;
	-ms-transition:$seconds ease-out;
	transition:$seconds ease-out;	
}

//transform
@mixin transform($scale){
	-webkit-transform:$scale;
	-moz-transform:$scale;
	-ms-transform:$scale;
	transform:$scale;	
}

//box-shadow
@mixin boxshadow($shadow){
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	box-shadow: $shadow;	
}
