#products, .featured-products, .product-accessories, .product-miniature, .slider-products, .products {
  .products {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(flex-start);
  }
  .product-thumbnail {
    display: block; 
    background: white;
    position: relative;
    .product-price-and-shipping{ 
	    position: absolute;
	    bottom: 0px;
	    left: 0;
	    width: 100%;
	    padding: 10px 0px;
	    background: rgba(255,255,255, 0.9);
	    display: none;
    }
  }
  .product-title a { 
    color: black;
    font-size: rem(14px);
    text-decoration: none;
    text-align: left;
    font-weight: 400;
//     width: calc(100% - 160px);
	width: 100%;
    display: inline-block;
    float: left;
  }
  .thumbnail-container {
    position: relative;
    margin-bottom: em(20px);
    background: transparent;
    text-align: center;
    overflow: hidden;
    .product-thumbnail{
    }
    .more-info-btn-wrap{
	    display: none;
	    @include transition(0.2s);
	    width: 100%;
	    text-align: center;
	    margin-top: -31px;
	    margin-bottom: 10px;
	    .more-info-btn{
		    &:hover{
			    color: black;
		    }
	    }
    }
    &:hover {
      .more-info-btn-wrap{
	      display: none;
      }
      .product-thumbnail {
	    .product-price-and-shipping{
		    display: none;
	    }
      }
      .highlighted-informations {
        bottom: rem(90px);
        &::after {
          opacity: 1;
        }
        &.no-variants{
          bottom: rem(70px);
        }
        .quick-view-wrap{
	        @include transform(scale(1.0));
        }
      }
      .product-description{
	  	 .product-price-and-shipping{
		  	 display: block;
		  	 text-align: left;
	  	 }
      }
    }
  }
  .products-section-title {
    text-align: center;
    margin-bottom: rem(24px);
  }
  .product-title {
    text-align: left;
    text-transform: capitalize;
    margin-top: rem(15px);
  }
  .product-price-and-shipping { 
    color: black;
    font-weight: 600;
    font-size: rem(14px);
    text-align: left;
    padding-top:rem(0px);
    float: left;
  }
  .variant-links {
    background: transparent;
    position: absolute;
    left: 0;
//     background: rgba(255,255,255, 0.6);
    @include transform(translateY(-100%));
    @include transition(0.7s);
    text-align: left;
    width: 100%;
    display: inline-block; 
    float: left;
    padding: rem(0px) rem(10px);
    min-height: rem(30px);
    opacity: 0;
  }
  .product-availability{
	  font-size: rem(12px);
	  padding: 0px;
	  display: inline-block;
	  margin: rem(5px) rem(0px);
	  float: left;
	  width: 100%;
	  text-align: left;
	  color: grey;
  }
  .highlighted-informations {
    z-index: 0;
    background: transparent;
    text-align: center;
//     width: 257px;
    height: rem(50px);
    padding-top: rem(0px);
    transition: bottom .3s;
    .quick-view-wrap{
	    width: 100%;
	    text-align: center;
	    position: absolute;
	    top:38%;
// 		bottom:115px;
	    @include transition(0.2s);
	    @include transform(scale(0.0));
	    .quick-view {
		  background: rgba(255,255,255, 0.85);  
	      color: black;
	      text-transform: uppercase;
	      font-size: rem(10px);
	      font-weight: 600;
	      padding: rem(8px) rem(19px); 
	      width: 100%;  
	      i{
		      font-size: rem(15px);
	      }
	    }
    }
  }
  .product-description {
    z-index: 1;
    background: transparent;
//     width: 257px;
    bottom: 0;
//     height: 70px;
	height: auto;
    .product-price-and-shipping{
	    display: block;
    }
  }
  img {
    margin-left: 0px;
    width: 100%;
  }

  .product-miniature {
// 	  padding: 0px 10px;
//     margin: 0 rem(10px);
	&:hover{
	    .variant-links{
		   opacity: 1;
	    }
	}
    .discount {
//       display: none;
    }
    .product-flags .new, .discount,
    .online-only,
    .on-sale {
      display: block;
      position: absolute;
      left: rem(-7px);
      top:rem(7px);
      padding: rem(5px) rem(7px);
      color: white;
      text-transform: uppercase;
      min-width: rem(50px);
      width: rem(50px);
      padding: 0px;
      text-align: center;
      @include border-radius(100%);
      font-size: rem(12px);
      font-weight: 700; 
      line-height: 0px;
      &.new{
	      top:25px !important;
	      left:5px;
	      color: black;
	      background: transparent;
	      height: 0px;
	      line-height: 0px;
		  &:before {
		    padding-bottom: 5px;
		    width: 32px;
		    margin-left: 9px;
		    content: "\ ";
		    display: block;
		    height: 1px;
		    border-top: 1px solid rgba(255,255,255, 0.4);
		    position: absolute;
		    top: 12px; 
		    display: none;}
		  &:after {
		    padding-bottom: 5px;
		    width: 32px;
		    margin-left: 9px;
		    content: "\ ";
		    display: block;
		    height: 1px;
		    border-bottom: 1px solid rgba(255,255,255, 0.4);
		    position: absolute;
		    bottom: 13px; 
		    display: none;
		    }	      
      }
       &.on-sale, &.discount{
	    top: 3px;
	    right: 12px;
	    left: inherit;
	    color: #fff;
	    line-height: 10px;
	    padding-top:rem(15px);
	    font-size: 9px;
	    color: black;
	    @include border-radius(100%);
		  &:before {
		    padding-bottom: 5px;
		    width: 32px;
		    margin-left: 9px;
		    content: "\ ";
		    display: block;
		    height: 1px;
		    border-top: 1px solid rgba(255,255,255, 0.4);
		    position: absolute;
		    top: 12px;
		    display: none; }
		  &:after {
		    padding-bottom: 5px;
		    width: 32px;
		    margin-left: 9px;
		    content: "\ ";
		    display: block;
		    height: 1px;
		    border-bottom: 1px solid rgba(255,255,255, 0.4);
		    position: absolute;
		    bottom: 13px;
		    display: none; }	  	    
      }     
      }
      .discount-percentage {
	    font-size: rem(12px);
	    padding: 0px 2px;
	    color: white;
        background: $brand-primary;
      }
      &.online-only {
        font-size: $font-size-xs;
        margin-top: rem(208px);
        margin-left: rem(139px);
        &::before{
          content:"\E30A";
          font-family: 'Material Icons';
          vertical-align: middle;
          margin: rem(5px);
        }
      }
    
  }
  .comments_note {
    text-align: center;
    color: $gray;
  }
  .regular-price {
    color: $gray;
    text-decoration: line-through;
    font-size: $font-size-sm;
  }
  .count {
    color: $gray-dark;
    font-weight: 700;
    position: relative;
    bottom: rem(8px);
  }
  .all-product-link {
    clear: both;
    color: $gray-dark;
    font-weight: 700;
    margin-top: rem(24px);
    margin-bottom: rem(24px);
  }
}

.slider-products{
	.product-miniature{
	    margin: 0px 15px;
	}
}

#products{
	.search-toggle{
		display: none;
	}
}

#index{
	.variant-links {
		@include transform(translateY(-140%));
	}
}

#category, #new-products, #best-sales, #prices-drop {
	.product-miniature{
		padding: 0px 5px;
	}
}



@include media-breakpoint-down(sm) {
  #products,.featured-products,.product-accessories  {

  }
}
