/*** FOOTER ***/
/*
#footer {
  .h3, h3 a, h4, h3{ 
	  color: black ;
	  font-weight: 600;
	  display: inline-block; 
	  padding-bottom: rem(15px);
  }
}
*/

.block_newsletter {
  @include search-box;
  background: white; 
  font-size: $font-size-sm;
  text-align: right;
  padding: rem(0px) rem(20px) rem(0px);
  margin: rem(0px) rem(15px);
  h2{
    font-size: rem(25px);
    font-weight: 600;
    line-height: rem(24px);	  
    color: #121212;
    svg{
	    fill: #121212;
	    vertical-align: middle;
	    margin-right: 10px;
    }
  }
  p {
    font-size: rem(13px); 
    color: grey; 
  }
  .block_newsletter-from{
  	  float: right;
	  margin-top:rem(20px);
  }
  form {
	  width: 80%;
    .input-wrapper {
      overflow: hidden; 
    }
    input[type=text] {
      padding: 11px 20px;
      min-width: auto;
      background: #fafafa;
      height: 52px;
      border: $base-border;
      &:focus {
	    background: #fafafa;
        outline: 0;
      } 
      width: 100%;
    }
    input[type="submit"] {
      border:2px solid #121212;
      @include transition(0.2s);
      &:hover{
	      background: white;
	      color: black;
	      border-color: #121212;
      }
    }
    input[type=submit]{
	    height: 52px;
	    line-height: rem(18px);
	    margin-left: rem(10px);
    }
  }
  margin-bottom: rem(-30px);
}
.copyright{
	text-align: center;
	border-top: 1px solid rgba(0,0,0, 0.08);
	padding: rem(15px) rem(0px);
// 	margin-top:rem(15px);
	._blank{
		font-size: rem(13px);
		color: $gray-dark;
	}
}
.contact-info-wrap{
	float: right;
	border-left: 1px solid rgba(0,0,0, 0.08);
// 	background: $brand-primary;
}
.block-contact {
//   border-left: $base-border;
  padding-left: rem(48px);
  color: $gray-dark;
  .block-contact-title{
    color:$gray-darker;
    font-size: rem(15px);
  }
  .block-contact-text{
	  font-size: rem(14px);
	  line-height: rem(26px);
  }
  span{
	  display: inline-block;
	  vertical-align: top;
	  padding-left: rem(7px);
	  color: black;
// 	  font-weight: bold;
  }
  i{
	  color: black;
	  font-size: rem(20px);
  }
}
.linklist {
  .blockcms-title a {
    color:$gray-darker;
  }
}
.account-list a {
  color: $gray;
  &:hover {
    color: $brand-primary;
  }
}
.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title {
  font-weight: 700;
  font-size: $base-font-size;
}

#block_myaccount_infos{
	padding-top: 35px;
  .myaccount-title a{
    color:$gray-darker;
    font-size: rem(15px);
  }
}
.footer-container {
  padding-top: rem(0px);
  background: white;
  overflow: hidden;
  border-top:1px solid $base-border;
  padding: rem(0px) rem(20px) rem(3px);
  li {
    margin-bottom: rem(5px);
  }
  li a {
    color: $gray-darker;
    cursor: pointer;
    font-size: $font-size-sm;
    @include transition(0.2s);   
    &:hover {
     color: $gray-darker;
    }
  }
  .links {
	  padding-top: 35px;
    .collapse {
      display: inherit;
    }
    .h3{
	    font-size: rem(15px);
    }
    li a{
	    &:before{
		    font-family: "Material Icons";
		    content: "\E315";
		    vertical-align: middle;	    
		    @include transition(0.2s);
	    } 		
	    &:hover{
	      &:before{
		      padding-right: rem(5px);
	      }		    
	    }    
	}
    
  }
}

.block-social {
  text-align: left;
  margin-top: rem(20px);
  float: left;
  padding-left: rem(50px);
}
.block-social li {
  height: rem(45px);
  width: rem(45px);
  background-color:transparent;
  background-repeat: no-repeat;
  @include border-radius(100%);
  border:1px solid rgba(0,0,0, 0.08);
  display: inline-block;
  margin: rem(2px);
  cursor: pointer;
  a {
    display: block;
    height: 100%;
    white-space: nowrap;
    font-size: rem(0px) !important;
    text-align: center;
    line-height: rem(58px);
	&:before{
	  	font-family: "socicon" !important;	 
// 	  	color: $brand-primary;
// 		color: black;
	  	font-size: 16px !important; 
	  	@include transition(0.2s);
	}     
    &:hover {
	    &:before{
// 			color: $brand-primary;
      }
    }
  }
}

#block_myaccount_infos{
	.myaccount-title{
		padding-bottom: 0px;
		font-size: rem(15px);
		text-transform: uppercase;
	}
}

@include media-breakpoint-down(sm) {
  .block_newsletter {
    padding-bottom: rem(10px);
    padding-top: rem(10px);
    text-align: center;
    form{
	    width: 100%;
    }
  }
  .footer-container {
    box-shadow: none;
    margin-top: 0; 
    padding: rem(5px) rem(0px) rem(3px);
    .wrapper {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    .links {
	    padding-top: 0px;
      .h3 {
        line-height: 1.5;
        font-size: rem(16px);
        padding-bottom: 0px !important;
        margin-bottom: 0px;
      }
      .title {
        padding: rem(10px) rem(20px);
        border-bottom: 1px solid $border-color;
        cursor: pointer;
        .collapse-icons .remove {
          display: none;
        }
        i{
	        color: black;
        }
      }
      .title[aria-expanded="true"] .collapse-icons {
        .add {
          display: none;
        }
        .remove {
          display: block;
        }
      }
      .navbar-toggler {
        display: inline-block;
        padding: 0;
      }
      .collapse {
        display: none;
        &.in {
          display: block;
        }
      }
      ul {
        background-color: white;
        margin-bottom: 0;
        > li {
          padding: rem(10px) rem(15px);
          border-bottom: 1px solid $border-color;
          a {
            color: $gray-darker;
          }
        }
      }
    }
	.contact-info-wrap{
	    float: left;
	    width: 100%;
	    padding-top: rem(0);
		.title{
		    border-bottom: 0px;
		    padding: 15px 0px;
		    a{
			    color: white;
			}
		}
		.block-social{
			padding-left: 10px;
		}
	}    
  }
  #block_myaccount_infos{
	  padding-top: 0px;
  }
}
@include media-breakpoint-down(md) {
  .block-social {
    text-align: left;
  }
  .block-contact {
    padding-left: rem(24px);
  }
}
