.homeslider-container{
	margin-bottom: 20px !important;
	overflow: hidden;
	margin: auto;
	.slide{
		.caption{
			position: absolute;
			top: 0;
			background: transparent;
			color: $black;
			width: 50%;
			left:50%;
			padding: 12% 0 0 6%;
			text-align: left;
			p{
				font-size: rem(13px);
				color: #333;
				margin-bottom: rem(30px);
				font-family: $secondary-font;
			} 
			h1{
				font-size: rem(130px);
				line-height: 110px;
			}
			h2{
				display: none;
			}
			.button{
				text-transform: uppercase;
				display: inline-block;
				font-size: 120%;
				padding: 16px 32px;
				font-weight: 700;
				font-size: rem(16px);
				font-family: $brand-font;  
				border:2px solid white;
				background: transparent;
				color: white;
				@include border-radius(0px);
				@include transition(0.2s);
				&:hover{
					color: black;
					text-decoration: none;
					background: white;
				}
			}
			.price{
				font-size: 270%;
				font-weight: 600;
			}
		}
	}
	.homeslider_nav{
		text-indent: 0;
		background: none;
		top:57%;
		@include transition(0.2s);
		svg{
			fill: $light-grey;
			&:hover{
				fill: $black;
			}
		}
		&.prev{
			left: -50px;
		}
		&.next{
			right: -50px;
		}
	}
	&:hover{
		.homeslider_nav{
			&.prev{
				left: 15px;
			}
			&.next{
				right: 15px;
			}			
		}
	}
	.homeslider_tabs{
		position: absolute;
		bottom: 5px;
		z-index: 10;
		text-align: center;
		width:100%;
		li{
			display: inline-block;
			margin: 0px 3px;
			a{
				font-size: 0px;
				display: block;
				width: 8px;
				height: 8px;
				@include border-radius(100%);
				border: 2px solid $light-grey;
				&:hover{
					border: 2px solid $brand-primary;
					background: $brand-primary;
				}
			}
			&.homeslider_here{
				a{
					border: 2px solid $brand-primary;
					background: $brand-primary;					
				}
			}
		}
	}
}


@media (max-width: 1024px){
	.homeslider-container{
		.slide{
			.caption{
				h1{
					font-size: 70px;
					line-height: 65px;
				}
			}
		}
	}	
}
@media (max-width: 600px){
	.homeslider-container{
		.slide{
			.caption{
				.button{
					display: none;
				}
			}
		}
	}	
}

@include media-breakpoint-down(md) {
	.homeslider-container{
		.slide{
			.caption{
				h1{
					font-size: 50px;
					line-height: 45px;
				}
/*
				.button{
					display: none;
				}
*/
			}
		}
	}	
}

@include media-breakpoint-down(xs) {
	.homeslider-container{
		.slide{
			.caption{
				padding: 15% 0 0 10%;
				h1{
					font-size: 40px;
					line-height: 36px;
				}
				p, .button{
					display: none;
				}
				.price{
					font-size: 140%;
				}
			}
		}
	}	
}


section.homeSlide{
	height: 600px;
    margin-bottom: -10px;
    .bcg{
		height: 100%;
	    background-attachment: fixed;
	    background-position: top center;
	    background-repeat: no-repeat;
	    background-size: cover;
    }
    .hsContainer{
		width: 50%;
	    height: 100%;
	    text-align: center;
	    padding-top: 15%;
	    background: #d1d3d8;	
	    h1{
		    font-size: 50px;
		    color: black !important;
	    } 
	    p{
		    color: black !important;
	    }   
	    .button{
		    margin-top:20px;
		    padding: 18px 32px;
		    display: inline-block;
		    @include transition(0.2s);
		    @include border-radius(35px); 
		    &:hover{
			    color: white;
		    }
	    }
    }
}