.top-menu {
  &[data-depth="1"] {
    margin: rem(10px);
  }
  a:not([data-depth="0"]) {
    display: block;
    padding: rem(10px);
    color: $gray;
    font-weight: 400;
  }
  a.dropdown-submenu {
    color: $gray-darker;
    font-weight: 600;
  }
  a[data-depth="0"] {
    font-weight: 600;
    padding: rem(3px) $small-space rem(6px);
    &:hover {
      #header & {
        color: $brand-primary;
        text-decoration: none;
      }
    }
  }
  a[data-depth="1"],
  a[data-depth="2"] {
    padding: 0 rem(10px) rem(10px) 0;
  }
  a[data-depth="2"]{
	@include transition(0.2s);
    &:before{
	    font-family: Material Icons;
	    content: "\E315";
	    vertical-align: middle;	    
    }
    &:hover{
	    text-decoration: underline;
// 		margin-left: 4px;
    }	  
  }
  .collapse {
    display: inherit;
  }
  .sub-menu {
	  @include border-radius(0px);
    &.collapse {
      display: none;
    }
//     @include box-shadow;
    border: none;
    margin-left: rem(15px);
/*
    width: calc(100% - 30px);
    min-width: calc(100% - 30px);
*/
    z-index: 18;
//     width: 100%;
    left:-15px;
    border-top:1px solid #ebebeb !important;
    padding: rem(20px) rem(0px); 
    display: none;
    ul[data-depth="1"] > li {
      float: left;
      margin: 0 rem(20px);
      display: inline-block;
      a[data-depth="1"]{
	      padding-bottom: rem(20px);
	      white-space: normal !important;
      }
    }
    a:hover {
      color: $brand-primary;
    }
  }
  li{
	  position: relative;
  }
  .popover {
    max-width: inherit;
//     width: 700px;
    top: 56px !important;
    @include boxshadow(0px 1px 1px rgba(0,0,0, 0.2));
/*
    ul{
	    li{
		    &:nth-child(5n){
			    clear: left;
		    }
	    }
    }
*/
  }
}
.popover.bs-tether-element-attached-top {
  margin-top: 0;
}

#mobile_top_menu_wrapper {
  padding-bottom: rem(10px);
  background: white;
  #top-menu {
    margin-bottom: rem(10px);
  }
  .top-menu {
    color: $gray-darker;
    .collapse-icons[aria-expanded="true"] {
      .add {
        display: none;
      }
      .remove {
        display: block;
      }
    }
    .collapse-icons .remove {
      display: none;
    }
    .navbar-toggler {
      display: inline-block;
      padding: 0;
      position: absolute;
      right: 15px;
    }
    a[data-depth="0"] {
      padding: rem(10px);
      border-bottom: 1px solid rgba(0,0,0, 0.1);
    }
    .collapse {
      display: none;
      &.in {
        display: block;
      }
    }
    .menu-images-container{
	    a{
		    padding-bottom: 0px;
		    img{
		    width: 100%;
		    height: auto;
		    }
	    }
    }
    .sub-menu {
	   padding: 0px;
	   border-top:0px;
	   margin-top:0px;
      &.collapse {
        display: none;
        &.in {
          display: block;
        }
      }
      box-shadow: none;
      z-index: inherit;
      display: block;
      position: static;
      overflow: hidden;
      margin-left: 0;
      width: 100%;
      min-width: 100%;
      background: $gray-lighter;
      ul[data-depth="0"] > li {
         border-bottom: 1px solid rgba(0,0,0, 0.1);
      }
      ul[data-depth="1"] {
        margin: 0;
        > li {
          float: none;
          margin: 0;
          width: 100%;
          a {
            text-transform: none;
          }
        }
      }
      ul {
        padding: 0;
      }
      li > a {
        padding: rem(10px) rem(20px);
        border-bottom: 1px solid rgba(0,0,0, 0.1);
        font-weight: bold;
        background: #fafafa;
        .popover{
	        background: #fafafa;
        }
      }
      ul[data-depth="2"] li a {
        padding-left: rem(20px);
      }
      ul[data-depth="3"] li a {
        padding-left: rem(40px);
      }
      ul[data-depth="4"] li a {
        padding-left: rem(60px);
      }
    }
    .popover {
      border-radius: 0;
      background: #fafafa;
    }
  }
  .js-top-menu-bottom {
    a {
      color: $gray;
    }
    .language-selector-wrapper {
      padding: rem(10px);
      .language-selector {
        display: inline;
      }
    }
    .currency-selector {
      padding: rem(10px);
    }
    #contact-link {
      padding: rem(10px);
    }
    .user-info {
      padding: 0 rem(10px);
      a {
        padding: rem(10px) 0;
        display: block;
        width: 100%;
      }
    }
  }
}