#product {
  #content {
    position: relative;
    max-width: 530px;
    max-width: 100%;
    margin: 0 auto;
  }
  #main{
	  .h1{
		  text-transform: none;
		  font-weight: bold;
		  color: $black;
		  font-size: rem(24px);
	  } 
  }
	#block-reassurance{
		font-size: 14px;
		font-weight: 300;
		margin-top:20px;
		border-top: $base-border;
		padding-top:20px;
		padding-bottom: 0px;
		li{
			display: inline-block;
			border-bottom: 0px;
			width: 33%;
			img{
				float: left;
				width: auto;
				padding-right: 5px;
			}
			span{
				line-height: 23px;
				font-weight: 400;
			}
		}
	}  
}
.product-price {
	font-size: rem(28px);
	font-weight: 600;	
	color: $black;  
    display: inline-block;
}
#product-description-short {
    color: $gray-darker;
}
.product-description-short{
    p{
	    color: black;
	    font-size: rem(16px);
	    line-height: rem(24px);
	    font-weight: 300;
	    margin-bottom: rem(0px);
// 	    border:1px solid $border-color;
	    padding: 15px 0px;
    }
}
.product-information {
  font-size: $font-size-lg;
  color: $gray-darker;

  .manufacturer-logo {
    height: 35px; 
  }
}
.input-color {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: rem(20px);
  width: rem(20px);
}
.input-container {
  position: relative;
}
.input-radio {
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 100%;
}
.input-color,
.input-radio {
  &:checked + span,
  &:hover + span {
    border: 2px solid $gray-darker;
  }
}
.radio-label {
  @include box-shadow;
  background: white;
  display: inline-block;
  padding: rem(2px) $small-space;
  font-weight: 600;
  border: 2px solid white;
}
.product-actions {
  form{
	  background: transparent;
	  padding: rem(10px) rem(20px);
	  border: 1px solid $border-color;
	  margin-top:rem(15px);
// 	  @include boxshadow(0 0 5px rgba(0,0,0,.1));
  }
  .control-label {
    width: 100%;
    margin-bottom: rem(6px);
    display: block;
    width: 100%;
  }
  .add-to-cart {
    line-height: inherit;
    padding-top: rem(14px);
    padding-bottom: rem(12px);
    margin-left: rem(30px);
    font-weight: bold;
    @include transition(0.2s);
    .material-icons {
      line-height: inherit;
    }
  }
}
.product-quantity {
  .qty {
    float: left;
    width: 80px;
    margin-bottom: rem(8px);
  }
  .add {
    float: left;
    margin-bottom: rem(8px);
  }
  #quantity_wanted {
    color: $gray-darker;
    background-color: white;
    height: rem(50px);
    padding: 0.175rem 0.5rem;
    width: rem(48px);
    text-align: center;
    font-weight: bold;
  }
  .input-group-btn-vertical {
    float: left;
  }
  .input-group-btn-vertical {
    .btn {
      padding: rem(12px) rem(12px);
      i {
        font-size: rem(16px);
        top: rem(4px);
        left: rem(3px);
      }
    }
  }
  .btn-touchspin {
    height: rem(23px);
  }
}
.product-discounts {
  margin-bottom: rem(24px);
  > .product-discounts-title {
    font-weight: normal;
    font-size: $font-size-sm;
  }
  > .table-product-discounts {
    thead tr th {
      width: 33%;
      padding: $small-space $medium-space;
      background: white;
      border: rem(5px) $gray-light solid;
      text-align: center;
    }
    tbody tr {
      background: $gray-lighter;
      &:nth-of-type(even) {
        background: white;
      }
      td {
        padding: $small-space $medium-space;
        text-align: center;
        border: rem(5px) $gray-light solid;
      }
    }
  }
}
.product-prices {
  margin-top: 15px;
  div {
    margin-bottom: rem(5px);
  }
  .tax-shipping-delivery-label {
    font-size: rem(13px);
    color: $gray-dark;
  }
}
.product-discount {
  color: $gray;
  .regular-price {
    text-decoration: line-through;
    font-weight: normal;
    margin-right: $small-space;
  }
}
.has-discount {
  &.product-price, p {
    color: #121212;
  }
  .discount {
    background: $brand-danger;
    color: white;
    font-weight: 600;
    padding: rem(5px) $small-space;
    font-size: rem(13px);
    margin-left: $small-space;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
  }
}
.product-unit-price {
  font-size: $font-size-xs;
  margin-bottom: 0;
}
.tabs {
  margin-top: rem(32px);
  .tab-pane {
    .product-manufacturer{
	    margin-bottom: rem(20px);
	    .img-thumbnail{
		    max-width: 200px;
	    }
    }
    &#product-details{
	    font-size: rem(14px);
    }
  }
  .nav-tabs {
    border: none;
//     border-bottom: $gray-light 2px solid;
    margin-bottom: rem(25px);
    .nav-link {
	  padding: rem(12px) rem(0px);
	  margin: rem(0px) rem(30px) rem(0px) rem(0px);
      color: $gray-darker;
      font-size: rem(15px);
//       text-transform: uppercase;
      font-weight: bold;
      @include transition(0.2s);
      border: 0px;
      border-bottom: 3px solid transparent;
      &.active {
	    background: transparent;
        border-color: $black;
        color: $gray-darker;
      }
      &:hover {    
        border-color: $black; 
      }
    }
    .nav-item {
      float: left;
      margin-bottom: rem(-2px);
    }
  }
  .tab-content{
  	 border:1px solid $border-color;
     background: white; 
     padding: rem(25px) rem(35px);
     p{
	     color: #373a3c;
	     line-height: rem(26px);
	     font-size: rem(16px);
	     font-weight: 300;
	     margin: 0;
     }
  }
}
.product-cover {
  margin-bottom: $medium-space;
  position: relative;
  overflow: hidden;
//   @include box-shadow;
  background: white;
//   padding: rem(5px); 
  img {
    background: white;
  }
  .layer {
    @include display(flex);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: white;
    position: absolute;  
    left: 0;
    top: 0;
    opacity: 0;
    background: rgba(255,255,255,0.0);
    text-align: center;
    cursor: pointer;
    @include transition(opacity .7s ease-in-out);
    &:hover {
      opacity: 1;
    }
	.zoom-in{
		background: rgba(255,255,255, 0.8);
		width: 100%;
		text-align: center;
		line-height: 45px;
		font-size: 14px;
		font-weight: 400;
		position: absolute;
		bottom:-45px;
		left:0;
		cursor: pointer;
		@include transition(0.2s);
		svg{
			vertical-align: middle;
		}
	}
	&:hover{
		.zoom-in{
			bottom:0;
		}
	}
  }
}
#product-modal {
  .modal-content {
    background: transparent;
    border: none;
    padding: 0;
    .modal-body {
      @include display(flex);
      margin-left: -30%;
      .product-cover-modal {
        background: white;
      }
      .image-caption {
        background: white;
        width: 800px;
        padding: rem(10px) rem(20px);
        border-top: $gray-light 1px solid;
        p {
          margin-bottom: 0;
        }
      }
      .thumbnails {
        position: relative;
      }
      .mask {
        position: relative;
        overflow: hidden;
        max-height: rem(790px);
        margin-top: rem(35px);
        z-index: 1;
        &.nomargin {
          margin-top: 0;
        }
      }
      .product-images {
        margin-left: $extra-large-space;
        img {
          width: rem(148px);
          cursor: pointer;
          background: white;
          &:hover {
            border: $brand-primary 3px solid;
          }
        }
      }
      .arrows {
        height: 100%;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        color: white;
        right: $large-space;
        z-index: 0;
        .arrow-up {
          position: absolute;
          top: -2rem;
          opacity: 0.2;
        }
        .arrow-down {
          position: absolute;
          bottom: -2rem;
        }
        i {
          font-size: rem(100px);
          display: inline;
        }
        cursor: pointer;
      }
    }
  }
}
#blockcart-modal {
  color: $gray-darker;
  @include border-radius(5px);
  .modal-header {
    background: white;
    h4{
	    color: $gray-darker;
    }
  }
  .modal-body {
    background: white;
    padding: rem(50px) rem(30px);
    .divide-right span {
      display: inline-block;
      margin-bottom: rem(5px);
      font-size: rem(14px);
    }
    .divide-right p{
	    font-size: rem(14px);
	    color: $gray-darker;
    }
  }
  .modal-dialog {
    max-width: 1140px;
    width: 100%;
  }
  .product-image {
    width: 100%;
  }
  .modal-title {
    font-weight: 600;
    color: white;
    font-size: rem(18px);
    i.material-icons {
      margin-right: rem(10px);
      color: $brand-success;
    }
  }
  .product-name {
    color: black;
    font-size: rem(20px);
    line-height: rem(22px);
    font-weight: 400;
  }
  .cart-products-count {
    font-size: rem(18px);
  }
  .cart-content {
    padding-left: $extra-large-space;
    p{
	    color: $gray-darker;
		font-size: rem(14px);
		margin-bottom: rem(10px);
    }
    .cart-content-btn {
      display: inline-flex;
      margin-top: rem(10px);
      button {
        margin-right: rem(5px);
        font-weight: 400;
      }
      .btn {
        white-space: inherit;
        font-weight: bold;
        i{
	      font-size: rem(16px);
		}
      }
    }
  }
  .divide-right {
    border-right: $border-color 1px solid;
  }
}
.product-images {
  > li.thumb-container {
    display: inline;
    > .thumb {
//       @include box-shadow;
 	  border: 1px solid $border-color;
      cursor: pointer;
      margin-bottom: $small-space;
      width: 103px;
      .images-container & {
        margin-right: rem(13px);
      }
      &.selected,
      &:hover {
        border: $brand-primary 3px solid;
      }
    }
  }
}
#main {
  .images-container {
    .js-qv-mask {
      white-space: nowrap;
      overflow: hidden;
      &.scroll {
        width: calc(100% - 100px);
        margin: 0 auto;
      }
    }
  }
}
.scroll-box-arrows {
  display: none;
  &.scroll {
    display: block;
  }
  i {
    position: absolute;
    bottom: rem(26px);
    height: 110px;
    line-height: 100px;
    cursor: pointer;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
#product-availability {
  display: inline-block;
  font-weight: 400;
  margin-left: $small-space;
  .material-icons {
    line-height: inherit;
  }
  .product-available {
    color: $brand-success;
  }
  .product-unavailable {
    color: $brand-warning;
  }
  .product-last-items {
    color: $brand-warning;
  }
}
#product-details {
  .label {
    font-size: rem(14px);
    color: $gray-darker;
    font-weight: bold;
  }
}
.product-features {
  margin-top: $medium-space;
  margin-left: rem(5px);
  > dl.data-sheet {
    @include display(flex);
    @include flex-wrap(wrap);
    @include align-items(flex-start);
    dd.value,
    dt.name {
      @include flex(1 0 40%);
      font-weight: normal;
      background: $gray-light;
      padding: $small-space;
      margin-right: $small-space;
      min-height: rem(40px);
      word-break: break-all;
      &:nth-of-type(even) {
        background: $gray-lighter;
      }
    }
    dt.name {
      text-transform: capitalize;
    }
  }
}
.product-variants {
  > .product-variants-item {
    margin: $medium-space 0;
    display: inline-block;
    float: left;
    margin-right: rem(25px);
    select {
      border: 1px solid $gray-light;
      height: rem(40px);
      width: rem(60px);
    }
    ul li {
      margin-right: $small-space;
    }
    .color {
      margin-left: 0;
      margin-top: 0;
    }
  }
}
.product-flags {
  position: absolute;
  top: 0;
  width: 100%;
  .new{
	  position: absolute;
	  left: 12px;
	  top:12px;
	  z-index: 1;
//       background: #fcd520;
      text-transform: uppercase;
/*
      min-width: rem(50px);
      min-height: rem(50px);
      height: rem(50px);
      width: rem(50px);
      line-height: rem(50px);
*/
      padding: 0px;
      text-align: center;
      color: black;
      font-size: rem(13px);
      font-weight: 600; 
//       @include border-radius(100%);      
	  &:before {
	    padding-bottom: 5px;
	    width: 32px;
	    margin-left: 9px;
	    content: "\ ";
	    display: block;
	    height: 1px;
	    border-top: 1px solid #fff;
	    position: absolute;
	    top: 12px; 
	    display: none;}
	  &:after {
	    padding-bottom: 5px;
	    width: 32px;
	    margin-left: 9px;
	    content: "\ ";
	    display: block;
	    height: 1px;
	    border-bottom: 1px solid #fff;
	    position: absolute;
	    bottom: 13px; 
	    display: none;
	    }	   	  
  }
}
/*
li.product-flag {
    display: block;
    position: absolute;
    background: $brand-primary;
    font-weight: 700;
    padding: rem(5px) rem(7px);
    text-transform: uppercase;
    color: white;
    margin-top: $small-space;
    margin-left: rem(-5px);
    z-index: 2;
    &.online-only{
      top: rem(400px);
      right: 0;
      font-size: $font-size-xs;
      &::before{
        content:"\E30A";
        font-family: 'Material Icons';
        vertical-align: middle;
        margin: rem(5px);
      }
    }
    &.discount {
      display: none;
    }
    &.on-sale {
      background: $brand-secondary;
      width: 100%;
      text-align: center;
      margin: 0;
      left:0;
      top:0;
    }
}
*/

.product-customization {
  @include box-shadow;
  margin: $extra-large-space 0;
  .product-customization-item {
    margin: $medium-space 0;
  }
  .product-message {
    background: $gray-light;
    border: none;
    width: 100%;
    height: rem(50px);
    resize: none;
    padding: rem(10px);
    @include placeholder {
      color: $gray;
    }
  }
  .file-input {
    width: 100%;
    opacity: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
    height: rem(42px);
    overflow: hidden;
    position: absolute;
  }

  .customization-message{
    margin-top: 20px;
  }
  .custom-file {
    position: relative;
    background: $gray-light;
    width: 100%;
    height: rem(42px);
    line-height: rem(42px);
    text-indent: rem(10px);
    display: block;
    color: $gray;
    margin-top: $medium-space;
    button {
      z-index: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
  small {
    color: $gray;
  }
}
.product-pack {
  margin-top: $extra-large-space;
  .pack-product-container {
    @include display(flex);
    justify-content: space-around;
    .pack-product-name {
      @include flex(0 0 50%);
      font-size: rem(14px);
      color: $gray;
    }
    .pack-product-quantity {
      border-left: $gray-light 2px solid;
      padding-left: $small-space;
    }
    .pack-product-name,
    .pack-product-price,
    .pack-product-quantity {
      @include display(flex);
      align-items: center;
    }
  }
}
.product-refresh {
  margin-top: $medium-space;
}
.social-sharing {
  width: 100%;
  @include display(flex);
  @include align-items(center);
  margin-top: rem(24px);
  ul {
    margin-bottom: 0;
  }
  li {
	display: inline-block;
    background-color: transparent;
    cursor: pointer;
    margin-left: rem(8px);
    margin-right: rem(8px);
    margin-bottom: rem(10px);
    @include transition(all .2s ease-in);
    a {
      display: block;
      width: 100%;
      height: 100%;
      white-space: nowrap;
	  font-size: rem(13px);
	  color: $grey;
	  &:before{
		border: 1px solid $brand-primary;
	    height: rem(32px);
	    width: rem(32px);
	    border-radius: 50%;
	    display: inline-block;		  
	  	color: $brand-primary;
	  	text-align: center;
	  	line-height: 32px;
	  	margin-right: rem(7px);
	  	@include transition(0.2s);
	  }
      &:hover {
        &:before{
	        color: white;
	        background: $brand-primary;
        }
      }
    }
  }
}
.products-selection {
  margin-bottom: $medium-space;
  .title {
    color: $gray-dark;
  }
}
#blockcart-modal .cart-content {
  .btn {
    margin-bottom: $small-space;
  }
}

.product-slider{
	h2{
		margin: 20px 0px 30px 0px;
	    font-size: rem(18px);
	    font-weight: bold;
	    padding-bottom: rem(20px); 
	    border-bottom: 1px solid $border-color;		
	}
}

//Category Products
.categoryproducts, .product-accessories  {
	width: 94%;
	margin: auto;
	float: none;
	.slider-products{
		.product-miniature{
			margin: 0px;
		}
	}
}
.product-slider{
	.quick-view-wrap{
		display: none;
	}
/*
    .owl-controls{
	    float: right;
	    .owl-buttons div{
		    display: inline-block;
		    text-align: center;
		    width: 30px;
		    height: 30px;
		    background: transparent;
		    border: 1px solid #ccc;
		    @include transition(0.2s);
		    svg{
			    width: 12px;
				height: 28px !important;
			    fill: #737373;
		    }
		    &:hover{
			    background: $brand-primary;
			    border-color: $brand-primary;
			    svg{
				    fill: white;
			    }
		    }
	    }
	    .owl-next{
		    margin-left:10px;
	    }
    }
*/
}

@include media-breakpoint-down(md) {
  .product-cover {
    img {
      width: 100%;
    }
  }
 .product-slider{
	.thumbnail-container{
		margin: auto;
	}
	h2{
		font-size: rem(18px);
		line-height: rem(24px);
		span{
			display: inline-block;
			width: 70%;
		}
	}
  } 
  #product-modal .modal-content .modal-body {
    @include flex-direction(column);
    margin-left: 0;
    img.product-cover-modal {
      width: 100%;
    }
    .arrows {
      display: none;
    }
  }
  #product-modal .modal-content .modal-body .image-caption {
    width: 100%;
  }
  #blockcart-modal {
    .modal-dialog {
      width: calc(100% - 20px);
    }
    .modal-body {
      padding: rem(30px);
    }
  }
  #product{
	  #block-reassurance{
		  li{
			  width: 100%;
		  }
	  }
  }
}

@include media-breakpoint-down(sm) {
  #blockcart-modal {
    .divide-right {
      border-right: none;
    }
    .modal-body {
      padding: rem(16px);
    }
  }
#product {
  #main{
	  .h1{
		  font-size: rem(22px);
		  font-weight: 400;
	  } 
  }
  .tabs{
	  .tab-content{
		  padding: rem(25px) rem(15px); 
		  .product-features>dl.data-sheet dd.value{
			  margin-right: 0px;
		  }
	  }
	  a{
		font-size: 14px;
		padding: 15px 0px;
	    display: inline-block;
	    margin: 0px 10px;
	  }
  }
  .product-actions .add-to-cart{
	  margin: rem(0px) rem(0px) rem(0px) rem(20px);
	  width: 100%;
  }
 }  
  
}

@include media-breakpoint-down(xs) {
#product {
  .product-actions .add-to-cart{
	  margin: rem(15px) rem(0px);
	  width: 100%;
  }
}	
}
