.quickview {
  .modal-dialog {
    width: calc(100% - 30px);
    max-width: rem(1024px);
  }
  .modal-content {
    background: white;
    min-height: rem(450px);
  }
  .modal-header {
    border: none;
    padding: $small-space;
  }
  .modal-body {
    min-height: rem(380px);
    h1{
	    font-weight: 300;
	    text-transform: none;
	    font-size: rem(30px);
    }
    .product-actions form{
	    padding: 0px;
	    box-shadow: none; 
	    border: 0px;
    }
  }
  .modal-footer {
    border-top: 1px solid rgba($gray,.3);
  }
  .layer {
    display: none;
  }
   .product-cover{
	   width: 100%;
   }
  .product-cover img {
    width: 95%;
  }
  .images-container {
    @include display(flex);
    z-index: 1;
    min-height: rem(350px);
    .product-images > li.thumb-container > .thumb {
      width: rem(79px);
      margin-bottom: rem(13px);
      background: white;
    }
  }
  .mask {
    width: 140px;
    height: rem(440px);
    overflow: hidden;
    margin-left: $small-space;
    margin-top: 20px;
  }
  .arrows {
    position: absolute;
    top: 20px;
    height: rem(445px);
    right: rem(105px);
    z-index: 0;
    margin-right: -35px;
    .arrow-up {
      margin-top: rem(-50px);
      cursor: pointer;
      opacity: 0.2;
    }
    .arrow-down {
      position: absolute;
      bottom: rem(-30px);
      cursor: pointer;
    }
  }
  .social-sharing {
    margin-top: 0;
    margin-left: $extra-large-space;
  }
}
