.search-widget {
  float: left;
  width: 80%;
  margin-top:27px;
  @include search-box; 
}
.header-top {
  .search-widget {
	.search-toggle{
		display: inline-block;
		cursor: pointer;
		margin-right: 15px;
		 &.fixed-on-scroll{
			 position: fixed;
			 z-index: 999;
			 top: 15px;
		 }
	}
    form {
	width: calc(100% - 60px);
	 display: inline-block;
	 @include transition(0.2s);
	 @include media-breakpoint-up(sm) {
		 &.fixed-on-scroll{
			 position: fixed;
			 z-index: 999;
			 top: 12px;
			 margin-left: 50px;
			 &.show{
			 	width: 89%;	
			 }	  
		 }
	 }
	  &.show{
		 width: calc(100% - 60px);
		 input[type="text"] {
			background: white;
		 	border-bottom: 2px solid $brand-primary;
		 }
	  }
      input[type="text"] {
        min-width: inherit;
        width: 100%;
        background: transparent;
        border: $base-border;
        border:0px;
        overflow: hidden;
        font-size: 15px;
        padding-left: 0px;
        outline: none !important;
        border-bottom: 2px solid black;
        font-weight: bold;
        color: black;
        @include transition(0.2s);
        &:focus{
	        border-bottom: 2px solid $brand-primary;
        }
      }
      button[type=submit]{
	    left: 5px;
	    right: inherit;
	      i{
		      color: $brand-primary;
		      display: none;
	      }
      }
    }
  }
}
#checkout {
  #search_widget {
    display: none; /* Not ideal solution by allows to reuse same hooks/templates */
  }
}

#pagenotfound {
  .page-content {
    #search_widget {
      width: 100%;
    }
  }
}

.page-not-found {
  .search-widget {
    form {
      display: inline-block;
    }
  }
}

/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  .header-top {
    .search-widget {
      float: none;
      padding: 0px;
      width: 100%;
      margin: rem(15px) rem(0px);
      .search-toggle{
	      display: none;
      }
      form {
        margin: 0 auto;
        width: 100%;
        input[type="text"] {
          min-width: inherit;
          background: white;
          border-bottom: 0px !important;
          padding-left: 45px;
        }
      button[type=submit]{
	      i{
		      display: inline-block;
	      }
      }
      }
    }
  }
}