@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";
@import "components/swiper.min";
@import "components/owl/owl-carousel";
@import "components/owl/owl-theme";
@import "components/alert";
@import "components/drop-down";
@import "components/search-widget"; 
@import "components/mainmenu";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text";
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance";
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap";
// @import "components/main";

body{
	font-family: $brand-font;
}
/*** HEADER ***/
#header {
  background: transparent;
  color: $gray;
  .logo {
    max-width: 100%;
    display: block;
    margin: auto;
    max-height: 55px;
    margin-top:10px;
  }
  a {
    color: #333;
    @include transition(0.2s);
    &:hover {
      text-decoration: none;
      color: $brand-primary;
    }
  }
  .header-nav {
    max-height: 50px;
    margin-bottom: 0px;
    font-size: rem(14px);
	background: #fafafa;
    border-bottom: 1px solid $border-color;
    #menu-icon {
      vertical-align: middle;
      cursor: pointer;
      width: rem(50px);
      height: rem(50px);
      background: $brand-primary;
      .material-icons {
        line-height: 50px;
        color: $brand-primary;
      }
    }
    .right-nav {
      @include display(flex);
      @include flex-wrap(nowrap);
      @include justify-content(flex-end);
      .dropdown-menu {
	      font-size: rem(13px);
	      @include border-radius(3px);
	      border: 1px solid $base-border;
	      padding: 0px;
	      a{
		      @include transition(0.2s);
		      line-height: rem(30px);
		      &:hover{
			      color: black;
			      background: $gray-light;
		      }
	      }
      }
    }
    .currency-selector {
      margin-top: rem(10px);
      margin-left: rem(15px);
      white-space: nowrap;
      .expand-more{
	      color: white;
	      &:hover{
		      color: white;
	      }
      }
      i{
	      font-size: rem(14px);
	      padding-left: rem(4px);
	      margin-top: -4px;
      }
    }
    .user-info {
      margin-left: rem(40px);
      margin-top: rem(10px);
      text-align: right;
      white-space: nowrap;
      a{
	      color: $gray-darker; 
	      @include media-breakpoint-down(sm) {
		      color: black;
	      }
      }
      .account {
//         margin-left: $small-space;
      }
      i{
	      font-size: rem(19px);
      }
    }
    .language-selector {
      margin-top: rem(10px);
      white-space: nowrap;
      margin-right: rem(10px);
      .expand-more{
	       color: $gray-darker;
	      &:hover{
		       color: $gray-darker;
	      }
      }      
      i{
	      font-size: rem(14px);
	      padding-left: rem(4px);
	      margin-top: -4px;
	      &:hover{
		       color: $gray-darker;
	      }
      }
      &:hover{
	      span, i{
		       color: $gray-darker;
	      }
      }
    }
    .cart-preview {
      &.active {
//         background: $brand-primary;
        a {
          color: white;
        }
        i {
          color: rgba(255, 255, 255, 1);
        }
      }
      .shopping-cart {
        vertical-align: middle;
      }
      .body {
        display: none;
      }
    }
    .blockcart {
	  float: right;
      background: $gray-light;
      height: rem(48px);
      padding: rem(12px);
      margin-left: rem(15px);
      text-align: center;
      white-space: nowrap;
      a {
        color: $gray;
        &:hover {
          color: $brand-primary;
        }
      }
      &.active {
        a:hover {
          color: white;
        }
      }
      .header {
	    padding-top: 1px;
        margin-top: rem(2px);
      }
    }
    #contact-link {
      margin: rem(10px) rem(0px);
       color: $gray-darker;
      a{
	       color: $gray-darker;
      }
      i{
	      font-size: rem(17px);
	       color: $gray-darker;
	      margin-top: rem(-6px);
      }
    }
    .material-icons {
      line-height: inherit;
      &.expand-more {
        margin-left: rem(-6px);
      }
    }
  }
  .header-top {
    > .container {
      position: relative;
    }
    .menu {
	  background: transparent;  
	  @include transition(0.5s);
	  .menu-images-container{
		  width: 100%;
		  float: left;
		  display: block;
		  padding: 5px 30px;
		  a{
			  display: inline-block;
			  float: left;
			  img{
				  max-width: 250px;
			  }			  
		  }
	  }
      &.fixed-on-scroll{
	    position: fixed;
	    background: white;
	    top: 0;
	    left: 0;
	    z-index: 100;
	    width: 100%;
	    @include boxshadow(1px 1px 4px rgba(0,0,0, 0.15));
	    >ul>li>a[data-depth="0"]{
// 		    font-size: rem(14px);
// 		    padding: rem(16px) rem(20px);
	    }
      }	  
      > ul {
	      text-align: center;
	      margin: rem(0px) rem(0px) rem(0px);
	      width: 100%;
	      margin: auto;
        > li {
          float: left;
          display: inline-block;
          &.current{
	          >a.dropdown-item{
		          color: white;
		          background: $brand-primary;
	          }
          }
/*
          &:hover{
	          >a{
		          color: white;
		          background: $brand-primary;		          
	          }
          }
*/
        }
      }
      padding-left: 15px;
    }
    .position-static {
      position: static;
      @include transition(0.2s);
      #_desktop_cart{
	      margin-top: 17px;
	      margin-left: 15px;
	      float: right;
	      line-height: rem(42px);
      }
    }
    .header-top__inner{
	    display: flex;
	    align-items: center;
	    padding: 0px 15px 15px 15px;
	    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
	    @include media-breakpoint-down(sm) {
		    display: block; 
	    }
	    .lang_wrapper{
		    #lang-toggle{
			    cursor: pointer;
			    svg{
				    margin-top: -3px;
			    }
		    }
		    .lang_wrapper__inner{
			    display: none;
			    float: right;
			    &.show{
				    display: inline-block;
			    }			    
		    }
	    }
	    .user-info{
		   #user-toggle{
			   cursor: pointer;
		   }
	      .logged-wrapper{
		      position: absolute;
		      background: white;
// 		      border: $base-border;
		      padding: 15px;
		      display: none;
		      min-width: 100px;
		      margin-left: -39px;
		      margin-top: 15px;
		      @include border-radius(3px);
		      @include boxshadow(0px 0px 5px rgba(0,0,0, 0.2));
		      &:before{
			    content: "\ ";
			    position: absolute;
			    top: -16px;
			    left: 24%;
				background: url('../img/submenu-pointer.png'); 
				width: 28px;
				height: 16px;		
		      }
		      &.show{
			      display: block;
			      z-index: 10;
		      }
		      a{
			      display: block;
			      margin: 0px 0px 7px 0px;
			      &.account{
				      font-weight: bold;
			      }
		      }
	      }		    
	    }
	    #_desktop_language_selector, #_desktop_currency_selector, #_desktop_user_info, #lang-toggle{
		    display: inline-block;
		    float: right;
		    font-size: rem(13px);
		    margin: rem(25px) rem(10px) rem(0px);
		    i.expand-more{
			    font-size: rem(12px);
		    }
	    }
	    #_desktop_user_info, #lang-toggle{
		    margin: rem(25px) rem(15px) rem(0px);
	    }
	     #_desktop_language_selector, #_desktop_currency_selector{
		    .dropdown-menu{
			    border: 1px solid $border-color;
			    @include border-radius(3px);
			    font-size: rem(13px);
			    margin-top:10px;
			    min-width: auto;
			    a{
				    &:hover{
					    color: grey;
				    }
			    }
		    }
	    }
    }
    a[data-depth="0"] {
      color: $black;
      font-weight: 600;
      font-size: rem(15px);
      display: inline-block;
      padding: rem(18px) rem(20px); 
      @include transition(0.2s);
      &:hover{
//           color: white;
//           background: $brand-primary;
      }     
    }
  }
  .top-menu-link {
    margin-left: $medium-space;
  }
} 

//User Dropdown
.user-info{
   #user-toggle{
	   cursor: pointer;
   }
  .logged-wrapper{
      position: absolute;
      background: white;
// 		      border: $base-border;
      padding: 15px;
      display: none;
      min-width: 100px;
      margin-left: -39px;
      margin-top: 15px;
      @include border-radius(3px);
      @include boxshadow(0px 0px 5px rgba(0,0,0, 0.2));
      &:before{
	    content: "\ ";
	    position: absolute;
	    top: -16px;
	    left: 24%;
		background: url('../img/submenu-pointer.png'); 
		width: 28px;
		height: 16px;		
      }
      &.show{
	      display: block;
	      z-index: 10;
      }
      a{
	      display: block;
	      margin: 0px 0px 7px 0px;
	      &.account{
		      font-weight: bold;
	      }
      }
  }		    
}


.popover {
  font-family: inherit;
}
/*** WRAPPER ***/
#wrapper {
  background: transparent;
//   box-shadow: inset 0 2px 5px 0 rgba(0,0,0,0.11);
  padding-top: rem(25px);
  padding: rem(25px) rem(20px) rem(0px);
  border-top: $base-border;
  .banner {
    margin-bottom: rem(24px);
    display: block;
    img {
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
  }
  .breadcrumb {
    background: transparent;
    padding: 10px 0px 15px;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      &::after {
        content: "/";
        color: $gray-dark;
        margin: em(5px);
      }
      &:last-child {
        content: "/";
        color: $gray-dark;
        margin: 0;
        &::after {
          content: "";
        }
      }
      a {
        color: black;
        font-size: rem(14px);
        font-weight: bold;
      }
    }
  }
}
/*** MAIN ***/
#main {
  .page-header {
    margin: rem(10px) rem(0px) rem(30px);
    h1{
	   font-size: rem(18px);
	   font-weight: 600;
// 	   text-transform: uppercase;
    }
  }
  .page-content {
    margin-bottom: rem(25px);
    h6 {
      margin-bottom: rem(18p);
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer {
    margin-bottom: rem(60px);
    .button{
	    &:hover{
		    color: white;
	    }
    }
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}

/*** HOMEPAGE TABS ***/
#homepage-tabs{
	text-align: right;
	position: relative;
	width: 94%; 
	margin: auto;
	.swiper-button-next, .swiper-button-prev{
	    top: 50%;
	    width: 34px;
	    border: 1px solid #ccc;
	    border-radius: 100%;
	    height: 34px;
	    background-size: 10px 34px;
	}
	.swiper-button-prev{
		right: 55px;
		left: inherit;
	}
	.nav-item{
		display: inline-block;
		margin-right: 7px;
		float: none;
		display: inline-block;
		margin: rem(0px) rem(20px);
		a{
			color: #121212;
			@include transition(0.2s);
			border: 0px;
			border-bottom: 2px solid transparent;
			font-weight: 700;
			font-size: rem(15px);
			background: transparent;
			padding: rem(22px) rem(0px);
			&.active, &:hover{
				border-color: $gray-darker;
			}
		}		
	}
	>.tab-pane{
		padding-top:30px;
	    float: right;
	    margin-left: -100%;
	    width: 100%;
	    border-top: 1px solid #ebebeb;
	    margin-top: 66px !important;
	}
	@include media-breakpoint-down(sm) {
		.nav-item{
			margin: rem(0px) rem(8px) rem(5px);
			a{
				padding: rem(5px) rem(0px);
				font-size: 12px;
				border-bottom: 2px solid transparent;
			}
		}
	}
}
//Homepage Products Sldier
.homepage-products-slider{
	.owl-item{
		padding: 0px 10px;
	}
	.owl-buttons div{
		position: absolute;
		top: 36%;
		background: transparent !important;
		&.owl-prev{
			left: -50px;
		}
		&.owl-next{
			right: -50px;
		}
	}
}
	.owl-item{
		padding: 0px 10px;
	}
	.owl-buttons div{
		position: absolute;
		top: 36%; 
		background: transparent !important;
		&.owl-prev{
			left: -50px;
		}
		&.owl-next{
			right: -50px;
		}
	}

// Scroll Top
#scroll-top{
	position: fixed;
	bottom: -80px;
	right: 2%; 
	text-align: center;
	line-height: 40px;
	display: inline-block;
	line-height: 50px !important;
	width:45px;
	height: 45px;
	border: 2px solid black;
	@include border-radius(100%);
	@include transition(0.2s);
	
	svg{
		fill: black;
		margin-bottom: rem(2px);
	}
	&:hover{
		background: black;
		svg{
			fill: white;
		}
	}
}

//Brands
#manufacturer, #supplier{
	.thumbnail-container{
		padding: 0px 5px;
	}
	.brand{
		margin-bottom: 30px;
		.brand-img{
			height: 100px;
			img{
				width: auto;
				max-width: 100%;
				height: auto;
			}
		}
		a{
			font-size: 14px;
			&.view{
				text-decoration: underline;
				color: grey;
			}
		}
		&:nth-child(6n+1){
			clear: left;
		}
	}
	@include media-breakpoint-down(sm) {
		.brand{
			&:nth-child(6n+1){
				clear: none;
			}	
			&:nth-child(3n+1){
				clear: left;
			}					
		}
	}
	@include media-breakpoint-down(xs) {
		.brand{
			&:nth-child(6n+1){
				clear: none;
			}	
			&:nth-child(3n+1){
				clear: none;
			}	
			&:nth-child(2n+1){
				clear: left;
			}							
		}
	}	
}


/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  #homepage-tabs{
	  text-align: center;
  }
  #header {
    background: $gray-light !important;
    .header-nav {
	  max-height: 50px;
      background: white;
      color: $gray-darker;
      #menu-icon {
	      .material-icons{
		      color: white;
	      }
      }
      .logo{
	      margin-top: 0px;
      }
      .top-logo {
        line-height: 50px;
        vertical-align: middle;
        width: 100px;
        margin: 0 auto;
        padding-top: rem(10px);
        a {
          img {
            max-height: 50px;
            max-width: 80%;
          }
        }
      }
      .right-nav {
        @include flex-direction(column);
      }
      .user-info {
        text-align: left;
        margin-left: 0;
        margin-top: 15px;
        
        .logged {
          color: $brand-primary;
        }
        i{
	        line-height: rem(24px);
	        font-size: rem(24px);
        }
      }
      #_mobile_cart{
	      margin-left: rem(8px);
      }
      .blockcart {
//         background: $brand-primary;
		background: transparent;
        margin-left: 0px;
        .header{
	        margin-top: 0px !important;
        }
        a {
          color: white;
        }
        svg{
	        fill: white;
        }
        i {
          color: rgba(255, 255, 255, 1);
        }        
        &.active {
          height: 50px;
        }
        &.inactive {
          .cart-products-count {
            color: white;
          }
        }
      }
    }
    .header-top {
      background: $gray-light;
      padding-bottom: 0;
      a[data-depth="0"] {
        color: $gray-darker;
	      padding: rem(13px) rem(20px);
	      @include border-radius(0px);    
	      &:hover{
/*
		      color: $gray-darker;
		      background: white;
*/
	      }    
      }
      .position-static{
	      .row{
		      padding-top: 1px;
	      }
      }
    }
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
  #footer {
    padding-top: rem(0px);
  }
 #home-page-tabs {
	 .nav-item a{
		 font-size: rem(12px);
		 padding: rem(7px) rem(12px);
		 margin: rem(5px) rem(0px);
	 }
 }
}
@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
  #header .logo {
    width: auto;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto rem(15px);
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
  #header .header-top {
	.menu{
	  	a[data-depth="0"]{
		  font-size: rem(12px);
		  padding: rem(13px) rem(12px);
	    }
	   	a[data-depth="1"]{
		  &:hover{
			  color: inherit;
		  }
	    }
	    &.fixed-on-scroll{
		    >ul>li>a[data-depth="0"]{
			  font-size: rem(11px);
			  padding: rem(13px) rem(10px);
		   }		    
	    }
    }
    .header-top__inner{
	    padding: 0 15px 0px;
	    background: transparent !important;
	    .lang_wrapper{
		    #lang-toggle{
			    cursor: pointer;
			    display: none;
		    }
		    .lang_wrapper__inner{
			    display: inline-block;	
			    #_desktop_language_selector	 {
				    font-size: 11px;
				    margin: rem(25px) rem(0px) rem(25px) rem(5px);
			    } 
			    #_desktop_currency_selector{
				    font-size: 11px;
				    margin: rem(25px) rem(0px);
			    }  
		    }
	    }
	}    
    #contact-link {
	    i{
		    color: $brand-primary;
		    font-size: rem(16px);
	    }
    } 
  }  
}

@include media-breakpoint-down(xs) {
  #left-column, #content-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

//Homepage Banners
.homepage_banners{
	background: transparent;
	padding:40px 0px 0px;
	.category-banner{
		margin-bottom: 80px;
		img{
			max-width: 340px;
			height: auto;
			width: 100%;
		}
		.text{
			position: absolute;
			left: 55%;
			top: 40%;
			h1{
				font-size: 46px;
				padding-bottom: 20px;
				color: black;
				&:after{
					content: "";
					display: block;
					width: 300px;
					height: 1px;
					background: black;
					position: absolute;
					margin-left: -100px;
					margin-top:10px;
					
				}
			}
			p{
				color: black;
				font-weight: bold;
			}
			.btn{
				border:2px solid $brand-primary;
			}
		}
		@media (max-width: 768px){
			margin-bottom: 20px;
			img{
				max-width: 100%;
			}
			.text{
				left: 25%;
				h1{
					font-size: 26px;
					&:after{
						width: 100px;
					}
				}
			}
		}
	}
	@media (max-width: 768px){
		padding-top:0;
	}
}

.bottom-banner{
	position: relative;
	text-align: center;
	margin:30px auto !important;
	padding: 0px 15px;
	background: transparent;
	img{
		width:100%;
	}
	.banner-desc{
		position: absolute;
		color: $gray-darker;
		width:420px;
		top:50%;
		@include transform(translateY(-50%));
		left: 50%;
		margin-left:-210px;
		h2{		
			font-weight: bold;
			font-size: 83px; 
			color: black;
		}
		span{ 
			display: block;
			font-size: 14px;
			line-height: 24px;
			padding-top:12px;
			font-weight: bold;
			color: black;
		}
		.more-button{
			display: inline-block;
			margin-top:20px;
			padding: 15px 30px;
		    font-size: 16px;
		    font-weight: 600;
		    background: $brand-primary;
		    color: white;
		    text-transform: uppercase;
		    @include border-radius(0px);
		    @include box-shadow();
		    &:hover{
			    background: $brand-hover;
			    border-color: $brand-hover;
		    }
		}
	}
	@media (max-width: 1024px){
		.banner-desc{
			h2{
				font-size: 55px;
			}
		}
	}	
	@media (max-width: 768px){
		margin-top: 0;
		img{
			display: none;
		}
		.banner-desc{
			position: relative;
			width: auto;
			margin-left: inherit; 
			left: inherit;
			padding: 0px 30px;
			top: inherit;
			@include transform(translateY(0));
			h2{
				font-size: 24px;
				line-height: 30px;
			}
		}
	}
}

#search{
	#content-wrapper{
		.h2{
			text-align: center;
			color: black;
			font-size: rem(16px);
		}
	}
}

//Columns Comfigurator Demo Style
.columns-configurator{
	position: fixed;
	width: 100px;
	top: 0;
	z-index: 10;
	margin-left: -100px;
	@include boxshadow(0px 0px 3px rgba(0,0,0, 0.3));
	height: 100%;
	background: #121212;
	color: white;
	text-align: center;
	@include transition(0.2s);
	strong{
		vertical-align: middle;
		padding: 10px 0px;
// 		border-bottom: 1px solid $border-color;
		text-transform: uppercase;
		font-size: 12px;
		margin-bottom: 10px;
		display: inline-block;
	}
	.column{
		display: inline-block;
		cursor: pointer;
		padding: 20px 10px;
		width: 100%;
		float: left;
		font-weight: bold;
		small{
			display: block;
			font-weight: bold;
			color: white;
		}
		svg{
			fill: white;
		}
		&.active, &:hover{
			background: #df0067;
			svg{
				fill: white;
			}
			small{
				color: white;
			}
		}
	}
	.settings-toggler{
		position: fixed;
		width: 45px;
		height: 45px;
		line-height: 40px;
		margin-left: 0px;
		top:193px;
		background: #121212;
		display: inline-block;
		font-size: 20px;
		cursor: pointer;
		svg{
			vertical-align: middle;
			fill: white;
		}
	}
	&.hide{
		margin-left: 0px;
	}
}

#category{
	.column{
		&[data-column="6"],
		&[data-column="7"]{
			display: none;
		}		
	}
}

